@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Oswald:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Lato', Helvetica, sans-serif;
    /*background-image: linear-gradient(0deg, rgba(188,255,189,0.2),rgba(147,130,240,0.5)),url('https://www.teahub.io/photos/full/41-419298_background-image-for-restaurant-website.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-attachment: fixed;
    line-height: 1.6em;
    font-size: 16px;
    font-weight: 300;
    margin: auto;
    color: #333;
    min-height: 100vh;
}

.index-img {
    margin: auto;
    overflow: hidden;
    background-image: url(/Images/hero-image.jpg);
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 94vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -10rem;
}

.container {
    display: flex;
    min-height: 60rem;
    width: 100%;
    align-content: center;
    justify-content: center;
}

    .container .pb-3 {
        min-width: 70%;
    }

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    min-height: 5rem;
    /*background-color: #C9EEAB;*/
    box-sizing: border-box;
    border-bottom: 1px solid #bab7b7;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 29px 0px;
}

#main-logo {
    margin: auto;
    align-self: center;
    margin-left: 10rem;
}

#navbar {
    font-size: 1.2rem;
    color: black;
    min-width: 50%;
    margin: auto;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


@media only screen and (max-width:1150px) {
    #product-grid {
        grid-column: unset;
        margin: 1rem 0 1rem 0;
        display: grid;
        justify-content: center;
        grid-template-columns: 35vw 35vw;
        gap: 2rem 2rem;
    }
}




.navbar-links ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
}

    .navbar-links ul a {
        font-weight: 500 !important;
        list-style: none;
        position: relative;
        text-decoration: none;
        color: black;
        margin-right: 1.5rem;
    }

        .navbar-links ul a:hover {
            opacity: .8;
        }

        .navbar-links ul a::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            background: black;
            height: 2px;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
        }

        .navbar-links ul a:hover::after,
        .navbar-links ul a:focus::after {
            opacity: 1;
            transform: translate3d(0, 0.2em, 0);
        }

    .navbar-links ul li a::after {
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }

    .navbar-links ul li a:hover::after,
    .navbar-links ul li a:focus::after {
        transform: scale(1);
    }

.nav-buttons {
    position: relative;
    width: 20rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

    .nav-buttons #username {
        margin-right: .4rem;
    }

    .nav-buttons button {
        font-size: 1.2rem;
        border: 1px solid black;
        cursor: pointer;
        color: #333;
        padding: 0.4rem;
        background-color: transparent;
        margin-right: .9rem;
        width: 6.4rem;
        height: 2.4rem;
        transition: all 0.5s;
    }

        .nav-buttons button:hover {
            background-color: #90D0FC;
            color: white;
            border: none;
        }

    .nav-buttons #logout-btn:hover {
        background-color: #F46060;
        border: none;
    }

.main-footer {
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 5rem;
    --tw-bg-opacity: 1;
    bottom: 0;
    background-color: #F6F6F6;
}

.footer-div, .footer-div a {
    color: black;
}

    .footer-div a:hover {
        opacity: .7;
    }

.index-display {
    font-family: 'Ingrid Darling', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    margin: auto;
    margin: 2rem 0 2rem 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.main-page {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
}

.box-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.box-wrapper {
}

.main-buttons {
    font-size: 1.3rem;
    border: none;
    margin-left: 2rem;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    background-color: rgba(36,160,237,0.9);
    padding: 0.4rem;
    width: 16.4rem;
    height: 3.1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
}

    .main-buttons:hover {
        transform: translateY(-7px);
    }

.desc {
    text-align: center;
    margin: auto;
    width: 27ch;
    font-size: 1.8rem;
    line-height: 3.4rem;
}

.btn-description {
    font-family: 'Ingrid Darling', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

.page-header {
    font-family: 'Ingrid Darling', cursive;
    font-family: 'Oswald', sans-serif;
    word-spacing: 0.2rem;
}

.page-content {
    text-align: left;
}
/*Login page*/
.login-form {
    margin: auto;
    max-width: 26rem;
    /*width: 35%;*/
    height: 24rem;
    border: 1px #DCDFE3 solid;
    background: white;
    background-color: white;
    text-align: center;
    border-radius: 16px;
    padding: 2rem;
    margin-top: 8rem;
    box-shadow: 0px 0px 4px 1px grey;
}

    .login-form p {
        font-size: 0.9rem;
        color: #797777;
    }

        .login-form p a {
            color: #797777;
        }

            .login-form p a:hover {
                color: #c8c1c1;
            }

.input {
    position: relative;
}

    .input i {
        position: absolute;
    }

.icon {
    background: transparent;
    color: #969494;
    min-width: 20px;
    top: 1rem;
    right: 0.8rem;
}

.form {
    font-size: 1.4rem;
    color: white;
}

.control-label {
    font-weight: 400;
}

.form-control {
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    margin: .5rem 0 .5rem 0;
    padding-left: .4rem;
    padding-right: 2.6rem;
    background-color: #DFEDFF !important;
}

.button-wrapper {
    margin: auto;
    width: 100%;
}

.confirm-buttom {
    font-size: 1.5rem;
    color: white;
    border: none;
    width: 100%;
    background-color: #62CDFF;
    height: 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

    .confirm-buttom:hover {
    }

.form-group {
    margin-top: .15rem;
}

.login {
    height: 31rem;
}
/*RestaurantList page*/
.card-columns {
    margin: 1rem 0 1rem 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 330px 330px 330px;
    gap: 2rem 2rem;
}

.card {
    color: black;
    max-height: 320px;
}

.card-body {
    box-shadow: 0px 0px 5px 1px grey;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    line-height: 1.5rem;
    font-weight: 400;
    font-family: "Ubuntu",sans-serif;
    height: 86px;
}

.card-text {
    margin: 0.5rem 0 0.8rem 0.9rem;
}

.card-img {
    height: 200px;
    box-shadow: 0px 0px 2px 1px grey;
    border-radius: 4px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card p {
    margin: 0;
    display: flex;
}

.card-body h4 {
    margin: 0;
    text-align: left;
    font-weight: 600;
    font-size: 1.3rem;
}

.btn-group {
    align-self: center;
}

.view-button {
    margin: 0 1rem 0 0;
    font-size: 1.2rem;
    color: white;
    border: none;
    width: 4rem;
    background-color: #90D0FC;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 5px;
}


/*Restaurant product pages*/
.search {
    width: 100%;
    position: relative;
    display: flex;
}

.search-bar {
    min-width: 30%;
    border: 4px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 2.5rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

.search-btn {
    border: none;
    border-radius: 0 5px 5px 0;
    background: #00B4CC;
    color: white;
    width: 2.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.products-list {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.product-item {
    padding: 1rem;
    display: flex;
    font-size: 1.2rem;
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
    background-color: #90D0FC;
    opacity: 0.8;
    border-radius: 1.2rem;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.2);
}
    .product-item  * {
        margin: 0;
    }

.product-title {
    font-size: 2rem;
    font-weight: 700;
}
.product-prices{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.product-discounted{
    font-size: 2rem;
    font-weight: 600;
}
.product-desc{
    display:flex;
    flex-direction:column;
}



@media only screen and (max-width:1050px) {
    .nav-container, .navbar-links, .main-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        justify-content: center;
    }

    .index-img {
        top: 10.5rem;
    }

    #main-logo {
        margin: auto;
        align-self: center;
        margin: auto;
    }

    #product-grid {
        grid-column: unset;
        margin: 1rem 0 1rem 0;
        display: flex;
        gap: .7rem;
        flex-direction: column;
        align-content:center;
        align-items:center;
        justify-content: center;
    }

    .card {
        box-sizing: border-box;
        width: 50vw;
        height: 50vw;
    }

        .card .card-img {
            height: 25vw;
        }

        .card .card-body {
            font-size: 2vw;
        }
}
.filter{
    display:flex;
    justify-content:flex-end;
}
#SearchByCity {
    background-color: dodgerblue;
    color: white;
    height: 1.6rem;
    border: none;
    width: 4rem;
    border-radius: 5px;
}
.filter-btn{
    background:none;
    border:none;
    box-shadow: 0 0 1px 1px grey;
    border-radius: 4px;
    height:1.6rem;
    width: 1.4rem;
}

.page-heading{
    font-size: 2rem;
    font-weight:900;
    text-align:center;
}
