@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["User"] = Model.Username;
}

<div class="main-page">
    <div class="index-img">
    </div>
    <div class="page-content">
        <h2 class="index-display">Save more, waste less!</h2>
        @*<p class="index-display desc">Our main goal is to provide people with opportunity to sell or give away old products.</p>*@
        <div class="box-container">
            <div class=box-wrapper>
                <p class="btn-description">View list of discounted products</p>
                <form method="post" asp-page-handler="Person">
                    <button class="main-buttons">Products</button>
                    @{
                        if (ViewData["User"] != null)
                        {
                            <button class="main-buttons" asp-page="/Forms/CreatedRestaurants">Restaurants</button>
                        }
                        else
                        {
                            <button class="main-buttons" asp-page="/Forms/RegisterScreen">Sign up</button>
                        }
                    }
                </form>
            </div>
            @* <div class=box-wrapper>
                <p class="btn-description">Register now!</p>
                <form>
                <button class="main-buttons" asp-page="/Forms/CreatedRestaurants">Sign up</button>
                </form>
                </div*> *@
        </div>
    </div>
</div>
