@page
@model PSI_Food_waste.Pages.Forms.EditProductModel
@using PSI_Food_waste.Models
@{
    ViewData["Title"] = "EditProduct";
}

<div class="edit-product-page form-wrapper">
    <div class="product-form-wrapper">
        <div class="product-form">
            <h3 class="form-header" style="margin-top:.7rem;">Edit product</h3>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Product.PrID" />
                <div class="form-element">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Product.PrID" />
                </div>
                <div class="form-element">
                    <label asp-for="Product.RestId" class="control-label"></label>
                    <input readonly asp-for="Product.RestId" />
                    <span asp-validation-for="Product.RestId" class="text-danger"></span>
                </div>
                <div class="form-element">
                    <label asp-for="Product.Name" class="control-label"></label>
                    <input asp-for="Product.Name" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
                <div class="form-element">
                    <label asp-for="Product.Size" class="control-label"></label>
                    <select asp-for="Product.Size" asp-items="Html.GetEnumSelectList<ProductSize>()"></select>
                    <span asp-validation-for="Product.Size" class="text-danger"></span>
                </div>
                <div class="form-element">
                    <label asp-for="Product.Price" class="control-label"></label>
                    <input asp-for="Product.Price" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                <div class="form-element">
                    <label asp-for="Product.DiscountedPrice" class="control-label"></label>
                    <input readonly asp-for="Product.DiscountedPrice" />
                    <span asp-validation-for="Product.DiscountedPrice" class="text-danger"></span>
                </div>
                <div class="form-element">
                    <label asp-for="Product.Discount" class="control-label"></label>
                    <input asp-for="Product.Discount" />
                    <span asp-validation-for="Product.Discount" class="text-danger"></span>
                </div>
                <div class="form-element">
                    <label asp-for="Product.PictureUrl" class="control-label"></label>
                    <input asp-for="Product.PictureUrl" />
                    <span asp-validation-for="Product.PictureUrl" class="text-danger"></span>
                </div>
                <div class="form-element flex-item" style="flex-direction:row;">
                    <label asp-for="Product.IsGlutenFree" class="control-label">Gluten free</label>
                    <input id="form-check-input" asp-for="Product.IsGlutenFree" />
                </div>

                <div class="grid-center">
                    <button class="add-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="./RestaurantVerified" asp-route-id="@Model.Product.RestId">Back to List</a>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
