@page
@using PSI_Food_waste.Models
@model PSI_Food_waste.Pages.Forms.LoginScreenModel
@{
    //ViewData["uss"] = NewUser;
}
<div class="login-form">
    <h1 class="page-header">Login to your account</h1>
    <p>Not a member? <a asp-page="/Forms/RegisterScreen">Sign up now!</a></p>
    <form class="form" method="post">
        <div class="row">
            <div asp-validation-summary="All"></div>
        </div>
        <div class="form-group">
            <div class="input">
                <i class="fa fa-envelope icon"></i>
                <input type="text" asp-for="NewUser.Email" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="input">
                <i class="fa fa-lock icon"></i>
                <input type="password" asp-for="NewUser.Password" class="form-control" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="confirm-buttom">Login</button>
            <label style="color:red">@Model.Msg</label>
        </div>
    </form>
</div>
