@page
@using PSI_Food_waste.Models
@model PSI_Food_waste.Pages.Forms.RegisterScreenModel
@{
}
<div class="credentials-page">
    <div class="login-form login">
        <h1 class="page-header">Register</h1>
        <p>Already a member? <a asp-page="/Forms/LoginScreen">Sign in now!</a></p>
        <form class="form" method="post" autocomplete="off">
            <div class="form-group">
                <div class="input">
                    <i class="fa fa-envelope icon"></i>
                    <input type="Email" asp-for="Email" class="form-control" placeholder="Email" autocomplete="false">
                </div>
            </div>
            <div class="form-group">
                <div class="input">
                    <i class="fa fa-user icon"></i>
                    <input type="text" asp-for="Name" class="form-control" placeholder="User Name" autocomplete="false">
                </div>
            </div>
            <div class="form-group">
                <div class="input">
                    <i class="fa fa-lock icon"></i>
                    <input type="password" asp-for="Pass" class="form-control" placeholder="Password" autocomplete="false">
                </div>
            </div>
            <div class="form-group">
                <div class="input">
                    <i class="fa fa-heart icon"></i>
                    <input type="number" asp-for="Num" class="form-control" placeholder="Favorite number" autocomplete="false">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="confirm-buttom">Confirm</button>
                <label style="color:red">@Model.ErrorMsg</label>
                <label style="color:green">@Model.Msg</label>
            </div>
        </form>
    </div>
</div>
